<h1>Users#index</h1>
<div class="container">
  <div class="row">
    <%= render "user_info", book: @book, user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag "no_image.jpg" %></td>
              <td><%= user.name %></td>
              <td><%= link_to "show", user_path(user) %></td>
            </tr>
          <% end %>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>